@import url('/static/css/base/colours.css');
@import url('/static/css/base/fonts.css');

body {
    background-color: var(--gruvbox-light-bg);
    color: var(--gruvbox-light-fg);
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: serif;
}

h1 {
    text-align: center;
}

a, p, span, code, b, em, strong {
    text-decoration: none;
    color: var(--gruvbox-light-fg)
}

code, h1,h2,h3,h4,h5,h6,.date,.tags,.path_control,aside,.fmt {
    font-family: "BlexMono";
}

p {
    padding: .5em;
}

body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "left posts right";
    grid-template-columns: 1fr 8fr 1fr;
    gap: 1em;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    position: relative;

    min-height: 60vh;
}

main > section {
    grid-area: posts;
    justify-self: center;
    width: 100%;
}

main > aside:first-child {
    grid-area: left;
    align-self: center;
    left: 5%;
}

main > aside:last-child {
    grid-area: right;
    align-self: center;
    right: 5%;
}

main > aside:first-child, main > aside:last-child {
    justify-self: start;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 50%;
}

footer {
    width: 100%;
}

footer > hr {
    margin-bottom: 1em;
    color: var(--gruvbox-light-bg-rgba-3);
    width: 60%;
}

footer > nav > ul {
    list-style: none;

    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
}

footer > nav > ul > li:last-child {
    margin-right: 0;
}

footer > nav > ul > li > a > img {
    width: 2em;
}

/* side controls */
.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.control > div:first-child {
    font-size: 2.5em;
    display: inline-block;
}

.control > div:last-child {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 90%;
    text-align: center;
}

.control > div:first-child:hover + div {
    visibility: visible;
    width: 400%;
}

.path_control > span > a:last-child {
    font-weight: bold;
}

.path_control > span > a:hover:not(:last-child) {
    text-decoration: underline;
    font-weight: bold;
}

.path_control > span > a:hover:not(:last-child) ~ a:last-child {
    font-weight: normal;
}

.path_control {
    text-align: center;
}

/* post metadata */
.date {
    font-style: italic;
    font-size: .8em;
    font-weight: bold;
    color: var(--gruvbox-grey-rgba);

}

.tags {
    font-size: .8em;
    font-weight: bold;
    color: var(--gruvbox-grey-rgba);
}

.fmt {
    font-size: .9em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: var(--gruvbox-orange-rgba);
}

th, td {
    border: 1px solid var(--gruvbox-grey);
    padding: .5em .75em;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--gruvbox-light-bg-rgba-4);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    body {
        font-size: 16px !important;
    }

    p {
        padding: .25em !important;
    }

    main {
        gap: 2em !important;
        padding: .5em !important;
        width: 90% !important;
    }
}

@media only screen and (max-width: 900px) {
    main {
        gap: 2em !important;
    }

    main > aside:first-child {
        left: 2.5% !important;
    }

    main > aside:last-child {
        right: 2.5% !important;
    }

    .control > div:hover + div {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    main {
        display: block !important;
        width: 95%;
    }

    main > aside {
        display: none !important;
    }
}
