:root {
    /* Gruvbox light palette */
    --gruvbox-light-bg: hsl(70, 10%, 95%);
    --gruvbox-light-bg-0: #f9f5d7;
    --gruvbox-light-bg-1: #ebdbb2;
    --gruvbox-light-bg-2: #d5c4a1;
    --gruvbox-light-bg-3: #bdae93;
    --gruvbox-light-bg-4: #a89984;

    --gruvbox-light-bg-rgba-0: rgba(249, 245, 215, 0.5);
    --gruvbox-light-bg-rgba-1: rgba(235, 219, 178, 0.5);
    --gruvbox-light-bg-rgba-2: rgba(213, 196, 161, 0.2);
    --gruvbox-light-bg-rgba-3: rgba(189, 174, 147, 0.5);
    --gruvbox-light-bg-rgba-4: rgba(168, 153, 132, 0.5);

    /* Foreground/text colors */
    --gruvbox-light-fg: #3c3836;
    --gruvbox-light-fg-0: #504945;

    /* Standard colors */
    --gruvbox-red: #cc241d;
    --gruvbox-green: #98971a;
    --gruvbox-yellow: #d79921;
    --gruvbox-blue: #458588;
    --gruvbox-purple: #b16286;
    --gruvbox-aqua: #689d6a;
    --gruvbox-orange: #d65d0e;
}
