@import url('/static/css/base/styles.css');

body > header > h1 {
    margin-top: 4em;
}

main {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "left posts right";
    grid-template-columns: 1fr 8fr 1fr;
    gap: 1em;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    position: relative;

    min-height: 60vh;
}

main > section {
    grid-area: posts;
    justify-self: center;
    width: 100%;
}

main > section > a > article {
    padding: 1em;
    margin-bottom: 2em;
    background-color: var(--gruvbox-light-bg-rgba-2);
}

main > section > a > article > hgroup {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section > a > article > p {
    text-align: center;
}

main > section > a > article > hgroup > p {
    margin: 0;
}

main > aside:first-child {
    grid-area: left;
    align-self: center;
    left: 10%;
}

main > aside:last-child {
    grid-area: right;
    align-self: center;
    right: 10%;
}

main > aside:first-child, main > aside:last-child {
    justify-self: start;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 50%;
}
