@import url('/static/css/base/styles.css');

.date {
    margin-top: 0.5em;
}

body > header {
    margin-top: 2em;
}

main > section > a > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin: 1em auto;

    padding: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    background-color: var(--gruvbox-light-bg-rgba-2);
}

main > section > a > article > hgroup {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section > a > article > hgroup > h3 {
    margin: 0;
}

main > section > a > article > hr {
    width: 60%;
    margin-bottom: 0;
}

main > section > a > article > figure.logo > img {
    max-height: 5em;
    border-radius: 1.5em;
}

@media only screen and (max-width: 750px) {
    main > section > a > article > hgroup {
        text-align: center;
    }

    main > section > a > article > figure.logo > img {
        max-height: 4em;
        border-radius: 1.15em;
    }

    main > section > a > article > hr {
        width: 80%;
    }

    main > section > a > article > hr + p {
        text-align: center;
    }
}
