<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ .Page.Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/homepage/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            {{ if eq .Author "" }}
                {{ if .Page.HasPathControl}}
                {{ template "path_control" .Page.PathControl }}
                {{ end }}
            <h1> {{ .Page.Title }} </h1>
            {{ else }}
            <h1> {{ .Author }} </h1>
            <h2> {{ .Page.Title }} </h2>
            {{ end }}
        </header>

        <main>
            {{ if .Page.HasLeftLateralControls }}
            {{ template "lateral_control" .Page.LeftLateralControl }}
            {{ end }}
            <section>
                {{ range .Posts}}
                <a href="{{ .URL }}">
                    <article>
                        <hgroup>
                            <h3> {{ .Page.Title }} </h3>
                            <span class="date"> Published: {{ .Date.Format }} </span>
                            {{ if .HasTags }}
                            <span class="tags"> {{ .Tags }} </span>
                            {{ end }}
                        </hgroup>
                        {{ if .HasAbstract }}
                            {{ if ne .Logo "" }}
                            <figure class="logo">
                                <img src="{{ .Logo }}">
                            </figure>
                            {{ end }}
                        <hr>
                        <p> {{ .Abstract }} </p>
                        {{ end }}
                    </article>
                </a>
                {{ end }}
            </section>
            {{ if .Page.HasRightLateralControls }}
            {{ template "lateral_control" .Page.RightLateralControl }}
            {{ end }}
        </main>
        {{ if .Page.HasFooter }}
        {{ template "footer" .Page.Footer }}
        {{ end }}
    </body>
</html>
