@import url('/static/css/base/styles.css');

body > header {
    margin-top: 2em;
}

body > header + hr {
    margin-top: 2em;
    width: 70%;
}

article {
    width: 100%;
}

body > main > section > article p {
    padding: 0;
}

img {
    width: 80%;
}
