@import url('/static/css/base/styles.css');
@import url('/static/css/post/code.css');

body > header {
    margin-top: 2em;
}

body > header + hr {
    margin-top: 2em;
    width: 70%;
}

article {
    width: 100%;
}

body > main > section > article p {
    padding: 0;
    white-space: pre-line;
}

body > main > section > article code {
    display: block;
    white-space: pre-wrap;
}

img {
    width: 80%;
}

html > body > main > section > article p a {
    font-weight: bold;
    color: var(--gruvbox-orange-rgba);
    text-decoration: underline;
}
