@import url('/static/css/base/styles.css');
@import url('/static/css/post/code.css');

body > header {
    margin-top: 2em;
}

body > header + hr {
    margin-top: 2em;
    width: 70%;
}

article {
    width: 100%;
}

body > main > section > article p {
    padding: 0;
    white-space: pre-line;
}

body > main > section > article code {
    display: block;
    width: max-content;
    height: max-content;
    white-space: pre-wrap;
    background-color: var(--gruvbox-light-bg-rgba-1);
    padding-left: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    border-radius: 1em;
    margin-bottom: 1em;
}

body > main > section > article code > p,span {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

section > article > figure > img {
    max-height: 30em;
    max-width: 30em;
    border-radius: 1em;
}

figure.logo {
    margin-top: 1em;
    text-align: center;
}

figure.logo > img {
    max-height: 6em;
    border-radius: 2em;
}

html > body > main > section > article p a {
    font-weight: bold;
    color: var(--gruvbox-orange-rgba);
    text-decoration: underline;
}

@media only screen and (max-width: 750px) {
    body > header + hr {
        margin-top: 2em;
        width: 90%;
    }
}
