<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ range .Styles }}
                <link href="{{.}}" rel="stylesheet" type="text/css">
            {{ end }}
    </head>
    <body>

        <header>
            <h1> {{ .Title }} </h1>
        </header>

        <main>
            <section>
                {{ range .Posts }}
                <article>
                    {{ . }}
                </article>
                {{ end }}
            </section>
        </main>

        <footer>
            <h3>Last activity</h3>
            <ul>
                <li>bla</li>
                <li>bla</li>
            </ul>
        </footer>
    
    </body>
</html>
