<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="resources/css/base.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <header>
            <h1> {{ .Title }} </h1>
        </header>

        <aside>
            <span> < </span>  
        </aside>

        <main>
            hey
        </main>


        <aside>
        <span> > </span>
        </aside>

        <footer>
            <h3>Last activity</h3>
            <ul>
                <li>bla</li>
                <li>bla</li>
            </ul>
        </footer>
    
    </body>
</html>
