<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page not found</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/error/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1> 404 </h1>
        </header>
        <main>
            <section>
                <p>You tried to access <s> {{ .URL }} </s> but the page does not exist. </p>
                <p>Go back to <a href="/">homepage</a>.</p>
            </section>
        </main>
    </body>
</html>
