@import url('colours.css');
@import url('fonts.css');

body {
    background-color: var(--gruvbox-light-bg);
    color: var(--gruvbox-light-fg);
    padding: 0;
    margin: 0;
    font-family: BlexMono;
}

footer {
    padding: 1em;
    height: 5%;
    width: 100%;
}

a, p, span, code, b, em, strong {
    text-decoration: none;
    color: var(--gruvbox-light-fg)
}

p {
    padding: .5em;
}


/* Header specifics */
body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > header > hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header > hgroup > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

body > header > hgroup > ul > li:after {
    content: ',';
    margin-right: 0.1em;
}

body > header > hgroup > ul > li:last-child:after {
    content: ''
}

/* Main specifics */
body > main {
    margin-top: 5%;
    width: 60%;
    margin: 0 auto;
    border: 1px solid blue;
    /* min-height: 100vh; */
}

body > main > article > section {
    margin-bottom: 5em;
}

body > main > article > section:last-child {
    margin-bottom: 0;
}

body > main > article > section > h2 {
    text-align: center;
}
