@import url('/static/css/base/styles.css');

html > body > header {
    margin-top: 3em;
    margin-bottom: 0;
}


html > body > main {
    min-height: 100%;
}

html > body > main > section > p a {
    font-weight: bold;
    color: var(--gruvbox-orange-rgba);
    text-decoration: underline;
}

html > body > main > section > p s {
    font-weight: bold;
    color: var(--gruvbox-red);
}

html > body > main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html > body > main > section > p {
    text-align: center;
    display: inline-block;
}
